html {
    height: 100%;
    width: 100%;
}

body { background-color: #fafafa; }

main.container-fluid { margin: 0 15px; }

.row > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.login-top-row { margin-top: 12%; }

.login-header { padding: 0 0 5%; }

#grayed-text { color: #999; }

.modules-list-filter { padding: 0 }

.modules-list-filter select { font-weight: 700; }

.modules-list-approved {
    padding: 0 20px 0 0;
    text-align: right;
}

#modules-list-approved-checkbox { margin: 4px 0 0 3px; }