html {
    height: 100%;
    width: 100%;
}

body { background-color: #fafafa; }

main.container-fluid { margin: 0 15px; }

.row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.row > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.row > .space-right { padding-right: 15px; }

.headline { margin-bottom: 25px; }

.login-top-row { margin-top: 12%; }

.login-header { padding: 0 0 5%; }

#grayed-text { color: #999; }

.dropdown-menu .no-space { margin: 0; }

.center { text-align: center; }