<!DOCTYPE html>
<html>

    {{ template "head" . }}
        <link rel = "stylesheet" type = "text/css" href = "/static/css/datatables.min.css"/>

    </head>

    <body>

        {{ template "navbar" . }}

        <main class = "container">

            <div class = "row headline">

                <h2>Nutzerverwaltung</h2>

            </div>

            <div class = "row">

                <form action = "/admin/users" method = "POST" class = "form-horizontal">

                    {{ with .FatalError }}
                    <div class = "alert alert-danger"><b>{{ . }}</b></div>
                    {{ end }}
                    {{ range $key, $value := .Errors }}
                    <div class = "alert alert-danger"><b>{{ $value }}: {{ $key }}</b></div>
                    {{ end }}
                    {{ with .Success }}
                    <div class = "alert alert-dismissible alert-success">

                        <button type = "button" class = "close" data-dismiss = "alert">×</button>
                        <b>{{ . }}</b>

                    </div>
                    {{ end }}

                    <legend>Neuer Nutzer</legend>

                    <div class = "form-group">

                        <label for = "inputFirstName" class = "col-sm-3 control-label">Vorname:</label>

                        <div class = "col-sm-9">
                            <input type = "text" id = "inputFirstName" class = "form-control" name = "user-first-name" placeholder = "Vorname" />
                        </div>

                    </div>

                    <div class = "form-group">

                        <label for = "inputLastName" class = "col-sm-3 control-label">Nachname:</label>

                        <div class = "col-sm-9">
                            <input type = "text" id = "inputLastName" class = "form-control" name = "user-last-name" placeholder = "Nachname" />
                        </div>

                    </div>

                    <div class = "form-group">

                        <label for = "inputMail" class = "col-sm-3 control-label">Mail:</label>

                        <div class = "col-sm-9">
                            <input type = "email" id = "inputMail" class = "form-control" name = "user-mail" placeholder = "Mail" />
                        </div>

                    </div>

                    <div class = "form-group">

                        <label for = "inputStatusGroup" class = "col-sm-3 control-label">Statusgruppe:</label>

                        <div class = "col-sm-9">
                            <select class = "form-control" id = "inputStatusGroup" name = "user-status-group">
                                <option value = "0">Prof</option>
                                <option value = "1">WiMi</option>
                                <option value = "2">Studi</option>
                                <option value = "3">Anderes</option>
                            </select>
                        </div>

                    </div>

                    <div class = "form-group">

                        <label for = "inputPrivileges" class = "col-sm-3 control-label">Rechte:</label>

                        <div class = "col-sm-9">
                            <select class = "form-control" id = "inputPrivileges" name = "user-privileges">
                                <option value = "0">Admin</option>
                                <option value = "1">Reviewer</option>
                            </select>
                        </div>

                    </div>

                    <div class = "form-group">

                        <div class = "col-sm-2 col-sm-offset-3">
                            <button type = "submit" class = "btn btn-success">Erstellen</button>
                        </div>

                    </div>

                </form>

            </div>

            <div class = "row">

                <legend>Alle Nutzer ({{ .Users | len }})</legend>

                <div class = "table-responsive">

                    <table id = "usersList" class = "table table-hover table-bordered">

                        <thead>

                            <tr>
                                <th class = "col-sm-2">Vorname</th>
                                <th class = "col-sm-2">Nachname</th>
                                <th class = "col-sm-3">Mail (bestätigt?)</th>
                                <th class = "col-sm-2">Statusgruppe</th>
                                <th class = "col-sm-1">Rechte</th>
                                <th class = "col-sm-1"></th>
                            </tr>

                        </thead>

                        <tbody>

                            {{ range .Users }}
                            <tr{{ if eq .Enabled false }} class = "user-disabled"{{ end }}>
                            <td>{{ .FirstName }}</td>
                            <td>{{ .LastName }}</td>
                            <td>{{ .Mail }} ({{ if eq .MailVerified true }}✔{{ else }}✘{{ end }})</td>
                            {{ if eq .StatusGroup 0 }}
                            <td>Prof</td>
                            {{ else if eq .StatusGroup 1 }}
                            <td>WiMi</td>
                            {{ else if eq .StatusGroup 2 }}
                            <td>Studi</td>
                            {{ else if eq .StatusGroup 3 }}
                            <td>Sonstige</td>
                            {{ end }}
                            {{ if eq .Privileges 0 }}
                            <td>Admin</td>
                            {{ else if eq .Privileges 1 }}
                            <td>Reviewer</td>
                            {{ end }}
                            {{ if eq .Enabled true }}
                            <td class = "center"><a href = "/admin/users/deactivate/{{ .ID }}" data-toggle = "tooltip" data-placement = "right" title = "Nutzer deaktivieren">✘</a></td>
                            {{ else }}
                            <td class = "center"><a href = "/admin/users/activate/{{ .ID }}" data-toggle = "tooltip" data-placement = "right" title = "Nutzer aktivieren">✔</a></td>
                            {{ end }}
                        </tr>
                        {{ end }}

                    </tbody>

                </table>

            </div>

        </div>

    </main>

    <script src = "/static/js/jquery.min.js"></script>
    <script src = "/static/js/bootstrap.min.js"></script>
    <script src = "/static/js/datatables.min.js"></script>

    <script>
        $.extend(true, $.fn.dataTable.defaults, {
            "searching": false
        });

        $(document).ready(function() {

            $('#usersList').DataTable({
                "order": [[ 1, "asc" ]],
                "paging": false,
                "info": false,
                "fixedHeader": {
                    "header": true,
                    "footer": false
                }
            });

            $('[data-toggle="tooltip"]').tooltip();
        } );
    </script>

    </body>

</html>