<!DOCTYPE html>
<html>

    {{ template "head" . }}

    </head>

    <body>

        {{ template "navbar" . }}

        <main class = "container">

            <div class = "row headline">

                <h2>Nutzerverwaltung</h2>

            </div>

            {{ with .Error }}
            <div class = "row alert alert-dismissible alert-danger">

                <button type = "button" class = "close" data-dismiss = "alert">×</button>
                <strong>Konnte Nuter nicht speichern!</strong><br>

                <ul>
                {{ range . }}
                <li>{{ . }}</li>
                {{ end }}
                </ul>

            </div>
            {{ end }}

            {{ with .NewPassword }}
            <div class = "row alert alert-dismissible alert-success">

                <button type = "button" class = "close" data-dismiss = "alert">×</button>
                <strong>Nutzer wurde gespeichert!</strong><br />
                Das temporäre Passwort ist: <i>{{ . }}</i>

            </div>
            {{ end }}

            <div class = "row">

                <form action = "/admin/users" method = "POST" class = "form-horizontal">

                    <legend>Neuer Nutzer</legend>

                    <div class = "form-group">

                        <label for = "inputFirstName" class = "col-lg-3 control-label">Vorname:</label>

                        <div class = "col-lg-9">
                            <input type = "text" id = "inputFirstName" class = "form-control" name = "user-first-name" placeholder = "Vorname" />
                        </div>

                    </div>

                    <div class = "form-group">

                        <label for = "inputLastName" class = "col-lg-3 control-label">Nachname:</label>

                        <div class = "col-lg-9">
                            <input type = "text" id = "inputLastName" class = "form-control" name = "user-last-name" placeholder = "Nachname" />
                        </div>

                    </div>

                    <div class = "form-group">

                        <label for = "inputMail" class = "col-lg-3 control-label">Mail:</label>

                        <div class = "col-lg-9">
                            <input type = "email" id = "inputMail" class = "form-control" name = "user-mail" placeholder = "Mail" />
                        </div>

                    </div>

                    <div class = "form-group">

                        <label for = "inputStatusGroup" class = "col-lg-3 control-label">Statusgruppe:</label>

                        <div class = "col-lg-9">
                            <select class = "form-control" id = "inputStatusGroup" name = "user-status-group">
                                <option>Prof</option>
                                <option>WiMi</option>
                                <option>Studi</option>
                                <option>Anderes</option>
                            </select>
                        </div>

                    </div>

                    <div class = "form-group">

                        <label for = "inputPrivileges" class = "col-lg-3 control-label">Rechte:</label>

                        <div class = "col-lg-9">
                            <select class = "form-control" id = "inputPrivileges" name = "user-privileges">
                                <option>Admin</option>
                                <option>Reviewer</option>
                            </select>
                        </div>

                    </div>

                    <div class = "form-group">

                        <div class = "col-lg-2 col-lg-offset-3">
                            <button type = "submit" class = "btn btn-success">Erstellen</button>
                        </div>

                    </div>

                </form>

            </div>

            <div class = "row">

                <legend>Alle Nutzer</legend>

                <table class = "table table-striped table-hover table-bordered">

                    <tr>
                        <th class = "col-lg-2">Vorname</th>
                        <th class = "col-lg-2">Nachname</th>
                        <th class = "col-lg-3">Mail (bestätigt?)</th>
                        <th class = "col-lg-2">Statusgruppe</th>
                        <th class = "col-lg-1">Rechte</th>
                        <th class = "col-lg-1">Aktiviert?</th>
                        <th class = "col-lg-1"></th>
                    </tr>

                    {{ range .Users }}
                    <tr>
                        <td>{{ .FirstName }}</td>
                        <td>{{ .LastName }}</td>
                        <td>{{ .Mail }} ({{ if eq .MailVerified true }}✔{{ else }}✘{{ end }})</td>
                        {{ if eq .StatusGroup 0 }}
                        <td>Prof</td>
                        {{ else if eq .StatusGroup 1 }}
                        <td>WiMi</td>
                        {{ else if eq .StatusGroup 2 }}
                        <td>Studi</td>
                        {{ else if eq .StatusGroup 3 }}
                        <td>Sonstige</td>
                        {{ end }}
                        {{ if eq .Privileges 0 }}
                        <td>Admin</td>
                        {{ else if eq .Privileges 1 }}
                        <td>Reviewer</td>
                        {{ end }}
                        {{ if eq .Enabled true }}
                        <td>✔</td>
                        {{ else }}
                        <td>✘</td>
                        {{ end }}
                        <td><a href = "/admin/users/delete/{{ .ID }}"><span class = "glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                    {{ end }}

                </table>

            </div>

        </main>

        <script src = "/static/js/jquery.min.js"></script>
        <script src = "/static/js/bootstrap.min.js"></script>

    </body>

</html>
