<!DOCTYPE html>
<html>

    {{ template "head" . }}
        <link rel = "stylesheet" type = "text/css" href = "/static/css/datatables.min.css"/>

    </head>

    <body>

        {{ template "navbar" . }}

        <main class = "container-fluid">

            <div class = "row">

                {{ with .FatalError }}
                <div class = "alert alert-danger"><b>{{ . }}</b></div>
                {{ end }}
                {{ range $key, $value := .Errors }}
                <div class = "alert alert-danger">{{ $value }}: <b>{{ $key }}</b></div>
                {{ end }}

                <div class = "col-lg-7 space-right">

                    <form action = "/modules/search" method = "GET" class = "form-horizontal">

                        <div class = "input-group">

                            <input type = "text" name = "query" class = "form-control" placeholder = "Alle Modultitel durchsuchen..." />

                            <span class = "input-group-btn">

                                <button type = "submit" class = "btn btn-default">Suchen</button>

                            </span>

                        </div>

                    </form>

                </div>

                <div class = "col-lg-2 dropdown">

                    <button type = "button" class = "btn btn-default dropdown-toggle" id = "firstLetterSelector" data-toggle = "dropdown" aria-haspopup = "true" aria-expanded = "true">
                        Anfangsbuchstabe {{ .FirstLetter }}
                        <span class = "caret"></span>
                    </button>

                    <ul class = "dropdown-menu" aria-labelledby = "firstLetterSelector">
                        <li><a href = "/modules">Anfangsbuchstabe A</a></li>
                        <li><a href = "/modules/filter/B">Anfangsbuchstabe B</a></li>
                        <li><a href = "/modules/filter/C">Anfangsbuchstabe C</a></li>
                        <li><a href = "/modules/filter/D">Anfangsbuchstabe D</a></li>
                        <li><a href = "/modules/filter/E">Anfangsbuchstabe E</a></li>
                        <li><a href = "/modules/filter/F">Anfangsbuchstabe F</a></li>
                        <li><a href = "/modules/filter/G">Anfangsbuchstabe G</a></li>
                        <li><a href = "/modules/filter/H">Anfangsbuchstabe H</a></li>
                        <li><a href = "/modules/filter/I">Anfangsbuchstabe I</a></li>
                        <li><a href = "/modules/filter/J">Anfangsbuchstabe J</a></li>
                        <li><a href = "/modules/filter/K">Anfangsbuchstabe K</a></li>
                        <li><a href = "/modules/filter/L">Anfangsbuchstabe L</a></li>
                        <li><a href = "/modules/filter/M">Anfangsbuchstabe M</a></li>
                        <li><a href = "/modules/filter/N">Anfangsbuchstabe N</a></li>
                        <li><a href = "/modules/filter/O">Anfangsbuchstabe O</a></li>
                        <li><a href = "/modules/filter/P">Anfangsbuchstabe P</a></li>
                        <li><a href = "/modules/filter/Q">Anfangsbuchstabe Q</a></li>
                        <li><a href = "/modules/filter/R">Anfangsbuchstabe R</a></li>
                        <li><a href = "/modules/filter/S">Anfangsbuchstabe S</a></li>
                        <li><a href = "/modules/filter/T">Anfangsbuchstabe T</a></li>
                        <li><a href = "/modules/filter/U">Anfangsbuchstabe U</a></li>
                        <li><a href = "/modules/filter/V">Anfangsbuchstabe V</a></li>
                        <li><a href = "/modules/filter/W">Anfangsbuchstabe W</a></li>
                        <li><a href = "/modules/filter/X">Anfangsbuchstabe X</a></li>
                        <li><a href = "/modules/filter/Y">Anfangsbuchstabe Y</a></li>
                        <li><a href = "/modules/filter/Z">Anfangsbuchstabe Z</a></li>
                        <li role = "separator" class = "divider no-space"></li>
                        <li><a href = "/modules/filter/all">Zeige alle</a></li>
                    </ul>

                </div>

            </div>

            <div class = "row">

                <div style = "text-align: center;">Zeige <b>{{ len .Modules }}</b> Module an.</div>

            </div>

            <div class = "row">

                <div class = "table-responsive">

                    <table id = "modulesList" class = "table table-striped table-hover">

                        <thead>

                            <tr>
                                <th>ModulID</th>
                                <th>Version</th>
                                <th>Modultitel</th>
                                <th>ECTS</th>
                                <th>Sprache</th>
                                <th>Max. Teiln.</th>
                                <th></th>
                                <th></th>
                            </tr>

                        </thead>

                        <tbody>

                    {{ with .Modules }}
                        {{ range . }}
                            <tr id = "module-{{ .ID }}">
                                <td>{{ .ModuleID }}</td>
                                <td>{{ .Version }}</td>
                                <td><a href = "/review/{{ .ID }}">{{ .Title }}</a></td>
                                <td>{{ .ECTS }}</td>
                                <td>{{ .Lang }}</td>
                                <td>{{ .ParticipantLimitation }}</td>
                                <td style = "text-align: right;">A</td>
                                <td>B</td>
                            </tr>
                        {{ end }}
                    {{ end }}

                        </tbody>

                    </table>

                </div>

            </div>

        </main>

        <script src = "/static/js/jquery.min.js"></script>
        <script src = "/static/js/bootstrap.min.js"></script>
        <script src = "/static/js/modules.js"></script>
        <script src = "/static/js/datatables.min.js"></script>

        <script>
            $.extend(true, $.fn.dataTable.defaults, {
                "searching": false
            });

            $(document).ready(function() {
                $('#modulesList').DataTable({
                    "order": [[ 2, "asc" ]],
                    "paging": false,
                    "info": false,
                    "fixedHeader": {
                        "header": true,
                        "footer": false
                    }
                });
            } );
        </script>

    </body>

</html>