<!DOCTYPE html>
<html>

    {{ template "head" . }}

    </head>

    <body>

        {{ template "navbar" . }}

        <main class = "container-fluid">

            {{ with .Module }}

            <div class = "row">

                <h2>Feedback zu <b>{{ .Title }}</b></h2>

            </div>

            <div class = "row">

                <p>ModulID: {{ .ModuleID }} - Version: {{ .Version }} - <a href = "https://moseskonto.tu-berlin.de/moses/modultransfersystem/bolognamodule/beschreibung/anzeigen.html?number={{ .ModuleID }}&version={{ .Version }}">Link</a></p>

            </div>

            <div class = "row">

                <div class = "col-lg-7 space-right">

                    <h3 class = "space-down">Modulkopf</h3>

                    <div class = "table-responsive">

                        <table class = "table table-striped table-hover">

                            <tr>
                                <td><b>Deutscher Modultitel:</b></td>
                                <td>{{ .Title }}</td>
                            </tr>

                            <tr>
                                <td><b>Englischer Modultitel:</b></td>
                                <td>{{ .TitleEnglish }}</td>
                            </tr>

                            <tr>
                                <td><b>Leistungspunkte (ECTS):</b></td>
                                <td>{{ .ECTS }}</td>
                            </tr>

                            <tr>
                                <td><b>Sekretariat:</b></td>
                                <td>{{ .AdministrationOffice }}</td>
                            </tr>

                            <tr>
                                <td><b>Modulsprache:</b></td>
                                <td>{{ .Lang }}</td>
                            </tr>

                            <tr>
                                <td><b>Modulverantwortliche*r:</b></td>
                                <td>{{ .ResponsiblePerson.FirstName }} {{ .ResponsiblePerson.LastName }}</td>
                            </tr>

                            <tr>
                                <td><b>Ansprechpartner*in:</b></td>
                                <td>{{ .ReferencePerson.FirstName }} {{ .ReferencePerson.LastName }}</td>
                            </tr>

                            <tr>
                                <td><b>Kontakt:</b></td>
                                <td><a href = "mailto:{{ .MailAddress }}">{{ .MailAddress }}</a></td>
                            </tr>

                            <tr>
                                <td><b>URL:</b></td>
                                <td><a href = "{{ .URL }}">{{ .URL }}</a></td>
                            </tr>

                        </table>

                    </div>

                </div>

                <div class = "col-lg-5 space-left">

                    <h3 class = "space-down">Feedback zum Modulkopf</h3>

                </div>

            </div>

            <div class = "row">

                <div class = "col-lg-7 space-right">

                    <h3 class = "space-down">Lernergebnisse</h3>

                    <h4 class = "space-down">Deutsch</h4>

                    <p class = "space-down">{{ .LearningOutcomes }}</p>

                    <h4 class = "space-down">Englisch</h4>

                    <p class = "space-down">{{ .LearningOutcomesEnglish }}</p>

                </div>

                <div class = "col-lg-5 space-left">

                    <h3 class = "space-down">Feedback zu Lernergebnissen</h3>

                </div>

            </div>

            {{ end }}

        </main>

        <script src = "/static/js/jquery.min.js"></script>
        <script src = "/static/js/bootstrap.min.js"></script>
        <script src = "/static/js/feedback.js"></script>
        <script src = "/static/js/modules.js"></script>

    </body>

</html>