<!DOCTYPE html>
<html>

    {{ template "head" . }}

    </head>

    <body>

        {{ template "navbar" . }}

        <main class = "container">

            <div class = "row headline">

                <h2>Einstellungen</h2>

            </div>

            {{ with .FatalError }}
            <div class = "alert alert-danger"><b>{{ . }}</b></div>
            {{ end }}

            {{ range $key, $value := .Errors }}
                <div class = "alert alert-danger">{{ $value }}: <b>{{ $key }}</b></div>
            {{ end }}

            {{ with .Success }}
            <div class = "alert alert-dismissible alert-success">

                <button type = "button" class = "close" data-dismiss = "alert">×</button>
                <b>{{ . }}</b>

            </div>
            {{ end }}

            <div class = "row">

                <form action = "/settings" method = "POST" class = "form-horizontal">

                    <legend>Passwort ändern</legend>

                    <div class = "form-group">

                        <label for = "oldPassword" class = "col-lg-3 control-label">Altes Passwort:</label>

                        <div class = "col-lg-9">
                            <input type = "password" id = "oldPassword" class = "form-control" name = "old-password" placeholder = "Altes Passwort">
                        </div>

                    </div>

                    <div class = "form-group">

                        <label for = "newPassword" class = "col-lg-3 control-label">Neues Passwort:</label>

                        <div class = "col-lg-9">
                            <input type = "password" id = "newPassword" class = "form-control" name = "new-password" placeholder = "Neues Passwort">
                        </div>

                    </div>

                    <div class = "form-group">

                        <label for = "repeatNewPassword" class = "col-lg-3 control-label">Neues Passwort wiederholen:</label>

                        <div class = "col-lg-9">
                            <input type = "password" id = "repeatNewPassword" class = "form-control" name = "repeat-new-password" placeholder = "Neues Passwort wiederholen">
                        </div>

                    </div>

                    <div class = "form-group">

                        <div class = "col-lg-2 col-lg-offset-3">
                            <button type = "submit" class = "btn btn-success">Ändern</button>
                        </div>

                    </div>

                </form>

            </div>

            <div class = "row">

                <legend>Deine Daten</legend>

                <table class = "table table-striped table-hover table-bordered">

                    <tr>
                        <td class = "col-lg-3">Vorname:</td>
                        <td class = "col-lg-9">{{ .User.FirstName }}</td>
                    </tr>

                    <tr>
                        <td class = "col-lg-3">Nachname:</td>
                        <td class = "col-lg-9">{{ .User.LastName }}</td>
                    </tr>

                    <tr>
                        <td class = "col-lg-3">Mail:</td>
                        <td class = "col-lg-9">{{ .User.Mail }}</td>
                    </tr>

                    <tr>
                        <td class = "col-lg-3">Statusgruppe:</td>
                        {{ if eq .User.StatusGroup 0 }}
                        <td class = "col-lg-9">Prof</td>
                        {{ else if eq .User.StatusGroup 1 }}
                        <td class = "col-lg-9">WiMi</td>
                        {{ else if eq .User.StatusGroup 2 }}
                        <td class = "col-lg-9">Studi</td>
                        {{ else if eq .User.StatusGroup 3 }}
                        <td class = "col-lg-9">Sonstige</td>
                        {{ end }}
                    </tr>

                </table>

            </div>

        </main>

        <script src = "/static/js/jquery.min.js"></script>
        <script src = "/static/js/bootstrap.min.js"></script>

    </body>

</html>
